@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center calculator">
    

    <div class="panel">
        <input type="text" class="decimal-display" value="" disabled />    
        <button type="button" class="clear">C</button>

        <button type="button" value="+" class="operator add">+</button>
        <button type="button" value="=" class="operator equal">=</button>
        <button type="button" value="0" class="decimal zero">0</button>

        <button type="button" value="÷" class="operator">÷</button>
        <button type="button" value="×" class="operator">×</button>
        <button type="button" value="-" class="operator">-</button>

        <button type="button" value="9" class="decimal">9</button>
        <button type="button" value="8" class="decimal">8</button>
        <button type="button" value="7" class="decimal">7</button>
        <button type="button" value="6" class="decimal">6</button>
        <button type="button" value="5" class="decimal">5</button>
        <button type="button" value="4" class="decimal">4</button>
        <button type="button" value="3" class="decimal">3</button>
        <button type="button" value="2" class="decimal">2</button>
        <button type="button" value="1" class="decimal">1</button>

        <button type="button" value="." class="decimal">.</button>

        
    </div>

</div>
